{% extends 'layout.html' %}
{% block content %}
  <h1>{{ gettext('List of tournaments') }}</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>{{ gettext('Name') }}</th>
        <th>{{ gettext('Type') }}</th>
        <th>{{ gettext('Description') }}</th>
        <th>{{ gettext('View bracket') }}</th>
        <th>{{ gettext('Delete tournament') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for tournament in tournaments %}
        <tr>
          <td>{{ tournament.name }}</td>
          <td>{{ tournament.type }}</td>
          <td>{{ tournament.description }}</td>
          <td>
              <a href="{{ url_for('tournament_bracket', tournament_id=tournament.id) }}" class="btn btn-secondary">{{ gettext('View bracket') }}</a>
          </td>
          <td>
              <form action="{{ url_for('delete_tournament', tournament_id=tournament.id) }}" method="post" style="display:inline;">
                  <button type="submit" class="btn btn-danger" onclick="return confirm('Вы уверены, что хотите удалить этот турнир?')">{{ gettext('Delete tournament') }}</button>
              </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
