{% extends 'layout.html' %}
{% block content %}
<h1>{{ gettext('List of Participants') }}</h1>
<form action="{{ url_for('delete_all_participants') }}" method="post" style="margin-bottom: 15px;">
    <button type="submit" class="btn btn-danger" onclick="return confirm('Вы уверены, что хотите удалить всех участников?')">{{ gettext('Delete all participants') }}</button>
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>{{ gettext('Name') }}</th>
            <th>{{ gettext('Contact') }}</th>
            <th>{{ gettext('Tournament') }}</th>
            <th>{{ gettext('Actions') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for participant in participants %}
        <tr>
            <td>{{ participant.name }}</td>
            <td>{{ participant.contact }}</td>
            <td>{{ participant.tournament_id }}</td>
            <td>
                <form action="{{ url_for('delete_participant', participant_id=participant.id) }}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Вы уверены, что хотите удалить этого участника?')">{{ gettext('Delete') }}</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
