{% extends 'layout.html' %}
{% block content %}
  <h1>{{ gettext('Participant Registration') }}</h1>
  <form method="post">
    <div class="form-group">
      <label for="name">{{ gettext('Name') }}</label>
      <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="form-group">
      <label for="contact">{{ gettext('Contact') }}</label>
      <input type="text" class="form-control" id="contact" name="contact">
    </div>
    <button type="submit" class="btn btn-primary">{{ gettext('Register') }}</button>
  </form>
{% endblock %}
